/*oaguna oprinciooal*/
#cuerpoP{
  background-color:burlywood;

}
.tituloprincipal{
    color: rgb(240, 22, 69);
    text-align: center;
    margin-top: 30px;
}
a{
  color: brown;
  background-color: chartreuse;
  padding: 8px 8px 8px 8px;
  font-size: 19px;
  text-align: center; 
}  
h2{
    text-align: center;
    color: rgb(66, 12, 12);  
}
.menucuentos {

    text-align: center;
}
.dis{
  background-color: blueviolet;
} 
.cuentosprincipal {
    float: right;
    width: 90%;
    margin: 40px;
    background-color:rgba(79, 189, 223, 0.459) ;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

.imagenespoe{
    margin: auto;
}
.imgpoe{
      border: 20px;
      height: 250px;
      width: 250px;
      border: 5;
}

#cuerpoC{
    background-color: rgba(66, 12, 12, 0.527)

}

#tituloimg{
text-align: center;

}

#cuerpoD{

    background-color: powderblue;
}
h1{
    color: red;
}

#imgD{
    text-align: center;
}
#cuerpoMascara{
    background-color: rgb(147, 180, 80);
}
#imgM{
    text-align: center;
}


#cuerpoR{

    background-color: rgb(107, 98, 189);
}
#imgR{
    text-align: center;
}

#cuerpoT{

    background-color: rgb(147, 155, 35);
}
#imgT{
    text-align: center;
}
