.tituloprincipal{
    color: rgb(240, 22, 69);
    text-align: center;
  }
  
  h2{
    text-align: center;
    color: rgb(66, 12, 12);
  
  }

  td{
    
    margin: 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
  }
  .menucuentos {

    margin: 10px 170px;
    
  }
  
  
  .cuentosprincipal {
    float: right;
    width: 90%;
    margin: 40px;
    background-color:rgb(37, 181, 224)  ;
  }

   .imagenespoe{
    margin: auto;
   }
    .imgpoe{
      border: 20px;
      height: 250px;
      width: 250px;
      border: 5;
    }
  
    .c{
      margin: 50px;
      font-size: 20px;
      text-align: center;
      background-color:rgb(37, 224, 46) ;
     
    }
  